@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,900;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: #333;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    cursor: pointer;
    margin-left: 10px;
}

.homeClass {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.menu {
    display: flex;
    gap: 1rem;
}

.menu a, .homeClass a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    /* transition: 0.3s; */
}

.menu a:hover, .homeClass a:hover {
    background: #555;
    border-radius: 5px;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}
h2 {
    font-weight: bold;
    text-align: center;
}
label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}
input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.submitButton {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
}
button:hover {
    background: #0056b3;
}